/**********************/
/* CUSTOM DEFINITIONS */
/**********************/

div.form-element {
	width: 100%;
	padding: 0px;
  }

/**
* Add the what3words suggestions dropdown
*/
div#suggestions {
border: 1px solid $black;
width: calc(100% - 8px);
padding: 4px;
}

div#suggestions:empty {
border: 0px;
}

div#suggestions > div {
padding: 4px;
}

div#suggestions > div:hover {
background-color: $light-gray;
cursor: pointer;
}

div#suggestions > div:not(:last-of-type) {
border-bottom: 1px solid $black;
}

div#suggestions > div > div:first-of-type {
display: flex;
}

div#suggestions > div > div:last-of-type {
display: flex;
justify-content: space-between;
padding-left: 14px;
font-size: 10pt;
}

.wrapper {
	max-width: 1170px;
	margin: 3rem auto;
}

.w3w-checkout_form {
	display: flex;
}


.span.five {
	padding: 0 65px;

	@include dw(8) {
		width: 100%;
	    padding: 0 5%;
	}

	section {
		margin-bottom: 5rem;
	}

	p {
		color: $text-color;
	    line-height: 1.4;

	    .post-checkout & {
    	    margin: 3rem 0;
    	    @include fs(16);
	    }
	}
}

.shop_table {
	color: $text-color;
	width: 100%;
	text-align: start;
    border: 1px solid #e7e7e7;
    padding: 12px;
    @include border-radius(4px);
    width: 100%;

	&.mobile {
		display: none;
	}

    @include dw(8) {
    	&.desktop {
    		display: none
    	}

    	&.mobile {
    		display: table;
    	}

    }

	td, th, strong {
		font-weight: normal;
	}

	td, th {
		font-size: 16px;
		padding: 12px 0;
	}

	tr {
		td, th {
			border-bottom: 1px solid #e7e7e7;
		}
	}

	.product-total {
		text-align: end;
	}

	thead,tfoot,tbody {
		width: 100%;
	}

	thead {
		th {
			text-transform: uppercase;
		}
	}

	tfoot {
		tr {
			th {
				text-align: start;
			}

			td {
				text-align: end;
			}

			&:last-child {
				th, td {
					border-bottom: none;
				}
			}
		}
	}

	.order-total {
		th, td strong {
			font-weight: bold;
		}
	}
}


#payment {
	margin-top: 4rem;

	.payment_methods {
		list-style-type: none;
	    padding: 0;

	    li {
	    	margin-bottom: 5px;

	    	img {
	    		display: block;
	    	}
	    }

	}

	.button {
		margin-bottom: 4rem;
	}
}

.post-checkout {

	.action {
		text-align: center;

		.button {
			margin: 3rem 0;
		}
	}
}


// When W3W address entered hide details
body.checkout_w3w {
	.checkout_w3w {
		display: none;
	}
}
