/**********************/
/* TYPOGRAPHY DEFS    */
/**********************/

h1 {
	font-size: 3.125rem;
	color: $dark-gray;
	font-weight: 100;
	line-height: 1.2em;
}

h2 {
	font-size: 2.625rem;
	color: $dark-gray;
	font-weight: 100;
	line-height: 1.2em;
}

h3 {
	@include fs(20);
	color: $dark-gray;
	font-weight: 500;
	line-height: 1.2em;
	margin-bottom: 14px;
	color: $dark-gray;
	text-transform: uppercase;
}

h4 {
	font-size: 1.125rem;
	color: #4A4A4A;
	font-weight: 100;
}

h5 {
	font-size: 1.125rem;
	color: $dark-gray;
	font-weight: 300;
	margin-bottom: 140px;
}

h6 {
	font-size: 0.75rem;
	color: $dark-gray;
	font-weight: 100;
	margin-bottom: 10px;
}


p {
	@include fs(18);
	color: rgba(118, 118, 118, 1);
	font-weight: 300;
}

sup {
	font-size: 55%;
    top: -0.8em;
}

abbr {
	text-decoration: none;
}

strong {
	font-weight: bold;
}